@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(fonts.googleapis.com/css2?family=Comfortaa&text=%c2%a1Hola!);

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Anton";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Anton";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
body {
  background: #160b50;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 10px;
}

.button {
  display: inline-flex;
  padding: 0px 0px;
}
.button._fw {
  width: 100%;
}

.select {
  position: relative;
  color: #858FA4;
}
.select__item {
  position: relative;
}
.select__title {
  color: #000;
  cursor: pointer;
  border-radius: 4px;
}
.select__value {
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  line-height: 140%;
  /* identical to box height, or 20px */
  text-align: right;
  color: #858FA4;
}
.select__value span {
  padding-right: 10px;
}
.select__value:before {
  content: "";
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 6px;
  height: 6px;
  background: url("../img/arrow.png") center/100% no-repeat;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  border-top: 0;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 991.98px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}
.checkbox__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}
.quantity__button {
  flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}
.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}
@media (min-width: 991.98px) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.quantity__button_plus::before {
  transform: rotate(-90deg);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}
._more-link span {
  font-style: normal;
}
._more-link span:first-child {
  display: block;
}
._more-link span:last-child {
  display: none;
}
._more-link._active span {
  font-style: normal;
}
._more-link._active span:first-child {
  display: none;
}
._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}
._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
._swiper.swiper-container-vertical .swiper-wrapper {
  flex-direction: column;
}
._swiper.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.mirror {
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}
._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  transition: all 0.3s ease 0.2s;
  transform: scale(1);
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}
.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.page {
  flex: 1 1 auto;
}

.ca {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  border-radius: 1.5vw;
  border: 1px solid #527996;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1vw 2vw;
  font-size: 1.55vw;
  opacity: 0;
  width: max-content;
  transition: 0.3s;
}
@media (max-width: 998px) {
  .ca {
    font-size: 5vw;
    padding: 2.5vw 4vw;
    border-radius: 3vw;
  }
}
.ca._active {
  opacity: 1;
}

.inp__wp._error span {
  display: block;
}
.inp__wp span {
  display: none;
}

._resp {
  overflow: hidden;
  transition: 0.3s;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home::before, .home::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 85vw;
  height: 85vw;
  background-image: url(../img/bl.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translate(-30%, -10%);
  opacity: 1;
  pointer-events: none;
}
.home::after {
  width: 60vw;
  height: 60vw;
  left: 40%;
  top: 30vw;
  transform: translate(0);
}
@media (max-width: 998px) {
  .home::after {
    display: none;
  }
}
.home__fon {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: -2;
  opacity: 0.5;
}
@media (max-width: 998px) {
  .home__fon {
    width: 200%;
    transform: translate(-50%, -40%);
  }
}
.home__fon img {
  width: 100%;
}
.home__lap {
  position: absolute;
  bottom: -4vw;
  left: 4vw;
  width: 14vw;
  animation: tptp 3s infinite;
  pointer-events: none;
}
@media (max-width: 998px) {
  .home__lap {
    width: 22vw;
    left: -5vw;
    bottom: -10vw;
  }
}
.home__lap img {
  width: 100%;
}
@media (max-width: 998px) {
  .home__lap img {
    transform: scale(-1, 1);
  }
}
.home__bef {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
}
.home__bef img {
  width: 100%;
}
.home__title {
  width: max-content;
  display: flex;
  flex-direction: column;
  font-size: 34vw;
  background: linear-gradient(247deg, #fff 55.54%, #344d60 115.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title 1s 1s forwards;
  opacity: 0;
  transform: translate(0px, 70%);
}
@keyframes title {
  0% {
    opacity: 0;
    transform: translate(0px, 70%);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.home__title div {
  margin-top: 1vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 3.8vw;
  display: flex;
}
.home__img {
  width: 50%;
  margin-top: -30vw;
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: imi 1s 2s forwards;
}
@keyframes imi {
  100% {
    opacity: 1;
  }
}
@media (max-width: 998px) {
  .home__img {
    width: 80vw;
    margin-top: -20vw;
  }
}
.home__img img {
  width: 100%;
}
.home__links {
  display: flex;
  gap: 3vw;
  align-items: center;
  border-radius: 1.5vw;
  border: 1px solid #527996;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1.3vw 2.5vw;
  margin-top: -5vw;
  position: relative;
  z-index: 3;
  transform: translate(0px, -100%);
  opacity: 0;
  animation: tot 1s 3s forwards;
}
@keyframes tot {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@media (max-width: 998px) {
  .home__links {
    gap: 10vw;
    border-radius: 4vw;
    padding: 3vw 5vw;
  }
}
.home__links a {
  transition: 0.3s;
}
.home__links a:hover {
  transform: scale(1.155);
}
@media (max-width: 998px) {
  .home__links img {
    max-width: 2%;
  }
}
.home__ca {
  animation: tot 1s 4s forwards;
  font-family: "Montserrat Alternates";
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 5vw;
  border: 1px solid #527996;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1vw 2.6vw;
  margin-top: 1.3vw;
  opacity: 0;
  transform: translate(0px, -100%);
}
@media (max-width: 998px) {
  .home__ca {
    margin-top: 4vw;
    font-size: 4vw;
    word-break: break-all;
    padding: 2.5vw 6vw;
    max-width: 90%;
  }
  .home__ca span {
    display: none;
  }
}

.arky {
  display: flex;
  justify-content: center;
  padding: 0vw 10vw;
  padding-top: 9vw;
}
@media (max-width: 998px) {
  .arky {
    padding: 0vw 6vw;
    margin-top: 12vw;
  }
}
.arky__block {
  border-radius: 1.5vw;
  border: 1px solid #527996;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  padding: 2.6vw;
  gap: 2.5vw;
  align-items: center;
  background-image: url(../img/lapa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
@media (max-width: 998px) {
  .arky__block {
    flex-direction: column;
    text-align: center;
    padding: 5vw;
    gap: 5vw;
    border-radius: 6vw;
  }
}
.arky__kosti {
  position: absolute;
}
.arky__kosti img {
  width: 100%;
}
.arky__kosti_1 {
  width: 13vw;
  top: 0;
  left: 28%;
  animation: kost 2.3s infinite;
}
@keyframes kost {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media (max-width: 998px) {
  .arky__kosti_1 {
    left: -3vw;
    top: 7vw;
    width: 20vw;
  }
}
.arky__kosti_2 {
  width: 9vw;
  left: 39%;
  top: -5vw;
}
@media (max-width: 998px) {
  .arky__kosti_2 {
    width: 30vw;
    right: -14vw;
    left: auto;
    top: -10vw;
  }
}
.arky__title {
  background: linear-gradient(248deg, #fff 24.46%, #344d60 166.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3vw;
  line-height: 1.5;
}
@media (max-width: 998px) {
  .arky__title {
    font-size: 9vw;
  }
}
.arky__subtitle {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  text-stroke: 2px #fff;
  font-size: 6vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (max-width: 998px) {
  .arky__subtitle {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    font-size: 13vw;
  }
}
.arky__btn {
  display: flex;
  align-items: center;
  gap: 1.3vw;
  border-radius: 5vw;
  background: #fff;
  width: max-content;
  padding: 1vw 2.5vw;
  font-size: 1.5vw;
  color: #2e4556;
  transition: 0.3s;
  font-family: "Montserrat Alternates";
}
.arky__btn:hover {
  transform: scale(1.15);
}
.arky__btn img {
  width: 3vw;
}
@media (max-width: 998px) {
  .arky__btn {
    width: 100%;
    justify-content: center;
    font-size: 5vw;
    padding: 3vw;
    border-radius: 15vw;
    margin-top: 3vw;
    gap: 3vw;
  }
  .arky__btn img {
    width: 9vw;
  }
}
.arky__right {
  width: 33vw;
}
@media (max-width: 998px) {
  .arky__right {
    width: 100%;
  }
}
.arky__right img {
  width: 100%;
}

.chill {
  padding: 0px 10vw;
  display: flex;
  justify-content: center;
  margin-top: 7vw;
  gap: 2vw;
  position: relative;
  z-index: 2;
}
@media (max-width: 998px) {
  .chill {
    flex-direction: column;
    padding: 0px 6vw;
    margin-top: 17vw;
    padding-bottom: 30vw;
  }
}
.chill__s {
  position: absolute;
}
.chill__s img {
  width: 100%;
}
.chill__s_1 {
  left: 5vw;
  bottom: 0;
  width: 8vw;
  animation: tptp 3s infinite;
}
@keyframes tptp {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(0px, 20%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}
.chill__s_2 {
  right: 3vw;
  width: 6vw;
  animation: tptp 3s infinite;
  top: -2vw;
}
.chill__left {
  display: flex;
  flex-direction: column;
  font-size: 24vw;
  margin-top: -1vw;
}
.chill__left span {
  transition: 0.3s;
  position: relative;
  top: 10vw;
  background: linear-gradient(247deg, #fff 55.54%, #344d60 115.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.chill__left span._active {
  top: 0;
  opacity: 1;
}
@media (max-width: 998px) {
  .chill__left {
    font-size: 45vw;
  }
}
.chill__img {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2vw;
  transform: translate(7%);
  margin-top: -8vw;
}
@media (max-width: 998px) {
  .chill__img {
    position: absolute;
    bottom: 0vw;
    transform: translate(0%);
    gap: 9vw;
    flex-direction: column-reverse;
  }
}
.chill__img img:nth-child(1) {
  width: 25vw;
}
@media (max-width: 998px) {
  .chill__img img:nth-child(1) {
    width: 45vw;
  }
}
.chill__img img:nth-child(2) {
  width: 13vw;
}
@media (max-width: 998px) {
  .chill__img img:nth-child(2) {
    width: 20vw;
    transform: translate(10vw);
  }
}
.chill__right {
  position: relative;
}
@media (max-width: 998px) {
  .chill__right {
    display: flex;
    justify-content: space-between;
  }
}
.chill__right span {
  font-size: 5.5vw;
  transition-delay: 0.3s;
  transition: 0.3s;
  background: linear-gradient(247deg, #fff 55.54%, #344d60 115.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 10vw;
}
.chill__right span._active {
  top: 0;
  opacity: 1;
}
@media (max-width: 998px) {
  .chill__right span {
    font-size: 12vw;
  }
}
.chill__right p {
  font-size: 16vw;
  transition-delay: 0.6s;
  transition: 0.3s;
  top: 10vw;
  opacity: 0;
  display: block;
  background: linear-gradient(247deg, #fff 55.54%, #344d60 115.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: relative;
}
.chill__right p._active {
  top: 0;
  opacity: 1;
}
@media (max-width: 998px) {
  .chill__right p {
    font-size: 28vw;
  }
}
.chill__right div {
  font-size: 4vw;
  margin-left: auto;
  width: max-content;
  border-radius: 5vw;
  border: 1px solid #527996;
  background: rgba(25, 38, 48, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: linear-gradient(247deg, #fff 55.54%, #344d60 115.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1vw 2.6vw;
  transform: rotate(5.242deg);
  margin-top: -2vw;
  transition: 0.3s;
  top: 10vw;
  opacity: 0;
  transition-delay: 0.9s;
  position: relative;
}
.chill__right div._active {
  top: 0;
  opacity: 1;
}
@media (max-width: 998px) {
  .chill__right div {
    position: absolute;
    right: 3vw;
    bottom: -8vw;
    font-size: 8vw;
    border-radius: 10vw;
    padding: 2vw 5vw;
  }
  .chill__right div._active {
    top: auto;
    bottom: 0;
    opacity: 1;
  }
}

.str {
  overflow: hidden;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 30px;
  overflow: hidden;
}
@media (max-width: 998px) {
  .str {
    gap: 20px;
  }
}
.str._revers {
  margin-top: 10px;
}
@media (min-width: 998px) {
  .str._revers {
    display: none;
  }
}
.str._revers .str__row-marque {
  animation: roww 30s linear infinite;
}

.str__row-marque {
  display: flex;
  animation: row 30s linear infinite;
  will-change: transform;
  gap: 30px;
}
@media (max-width: 998px) {
  .str__row-marque {
    gap: 20px;
  }
}

.str_2 .str__row-marque {
  animation: roww 30s linear infinite;
}

.str__item {
  overflow: hidden;
  font-size: 50px;
}
.str__item img {
  height: 30vw;
  width: auto;
  border-radius: 1vw;
}
@media (max-width: 500px) {
  .str__item img {
    height: 50vw;
  }
}

@keyframes row {
  0% {
    transform: translateZ(0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
@keyframes roww {
  0% {
    transform: translate3d(-100%, 0px, 0px);
  }
  100% {
    transform: translateZ(0px);
  }
}
.last__text {
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat Alternates";
  gap: 20px;
  padding: 4vw;
}
@media (max-width: 998px) {
  .last__text {
    font-size: 3.55vw;
    padding: 10vw 2vw;
  }
}
.last__text span {
  background: linear-gradient(233deg, #fff 1.39%, #344d60 111.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.last {
  position: relative;
}

.last__bef {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.last__bef img {
  width: 100%;
}
.last__bef img:nth-child(2) {
  display: none;
}
@media (max-width: 600px) {
  .last__bef img:nth-child(1) {
    display: none;
  }
  .last__bef img:nth-child(2) {
    display: block;
  }
}

.what {
  padding: 5vw 10vw;
  position: relative;
}
.what__bl {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  transform: translate(0px, -50%);
}
@media (max-width: 998px) {
  .what__bl {
    display: none;
  }
}
.what__bl img {
  width: 100%;
}
@media (max-width: 998px) {
  .what {
    padding: 10vw 6vw;
  }
}
.what__block {
  border-radius: 30px;
  border: 1px solid #527996;
  background: rgba(255, 255, 255, 0.1);
  padding: 2.7vw;
  backdrop-filter: blur(15px);
  background-image: url(../img/e1.png);
  background-size: cover;
}
@media (max-width: 998px) {
  .what__block {
    padding: 5vw;
    border-radius: 20px;
    background-size: 200%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
.what__title {
  font-size: 6vw;
  background: linear-gradient(248deg, #fff 24.46%, #344d60 166.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 2.5vw;
}
@media (max-width: 998px) {
  .what__title {
    font-size: 10vw;
    margin-bottom: 6vw;
  }
}
.what__wp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}
@media (max-width: 998px) {
  .what__wp {
    grid-template-columns: 1fr;
    gap: 9vw;
  }
}
.what__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.what__img img {
  width: 100%;
}
.what__text {
  background: linear-gradient(248deg, #fff 24.46%, #344d60 166.01%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #2f3333;
  font-size: 2.8vw;
  margin-top: 12px;
}
@media (max-width: 998px) {
  .what__text {
    font-size: 9vw;
  }
}
.what__btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5vw;
}
@media (max-width: 998px) {
  .what__btn {
    margin-top: 6vw;
  }
}
.what__btn a {
  display: flex;
  gap: 2.8vw;
  font-size: 3.3vw;
  color: #507088;
  border-radius: 5vw;
  background: #fff;
  align-items: center;
  padding: 1.5vw 2.6vw;
  transition: 0.3s;
}
@media (max-width: 998px) {
  .what__btn a {
    padding: 3vw 5vw;
    width: 100%;
    font-size: 8vw;
    gap: 5vw;
    border-radius: 13vw;
    justify-content: center;
  }
}
.what__btn a:hover {
  transform: scale(1.15);
}
.what__btn a img {
  width: 3.5vw;
}
@media (max-width: 998px) {
  .what__btn a img {
    width: 9vw;
  }
}

.linne {
  position: relative;
}
.linne::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: url(../img/rec.png);
  background-size: 100% 100%;
}